HeatPumpFacility.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:aasg="http://stategeothermaldata.org/uri-gin/aasg/xmlschema/HeatPumpFacility/0.6" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gmlsf="http://www.opengis.net/gmlsf" targetNamespace="http://stategeothermaldata.org/uri-gin/aasg/xmlschema/HeatPumpFacility/0.6" elementFormDefault="qualified" version="0.06">
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gmlsf" schemaLocation="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd"/>
	<xs:annotation>
		<!-- This XSD document, including XML schema, indicates the content requested for data collected from heat pump facilities for the AASG geothermal data project. Typically, information includes location information for the facility, information about the system type and contact information for the facility. The FacilityURI for a particular site is the cross-referencing link (foreign key) used to associate the facility with additional information and metadata. Each facility should have a unique FacilityURI. -->
		<!--Annotated version 0.6.3. This XSD document was created on 2012-02-24 by Celia Coleman, AZGS.  This schema is based on the data available in the AASG Web Feature Services created for the heat pump facilities. Field Description annotations standardized 2013-08-22 by Esty Pape, AZGS.-->
		<xs:appinfo source="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
			<gmlsf:GMLProfileSchema>
http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsf.xsd </gmlsf:GMLProfileSchema>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="HeatPumpFacility" type="aasg:HeatPumpFacilityType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="HeatPumpFacilityType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="OBJECTID" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Integer record count, added by ArcGIS servers during service deployment; not required but cannot be removed when deploying from ArcGIS feature class. Not user maintained, so this element appears in XML implementation but not in the Content Model Template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FacilityURI">
						<xs:annotation>
							<xs:documentation>Unique identifier that specifies the facility. Ideally, the identifier is an http URI that will dereference to a known, useful representation of the feature. This identifier will be used to cross reference the feature to other information related to this feature.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FacilityName" type="xs:string">
						<xs:annotation>
							<xs:documentation>Common or human-readable name by which the facility is known. Recommend using only web-safe characters (a-z A-Z 0-9 _-.) in the name. Be consistent in the naming convention used within any given dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Label" type="xs:string">
						<xs:annotation>
							<xs:documentation>Short text string for labeling the feature on maps. Can be the same as feature name. A label may be an OtherLocationName, OtherID or the Name or some combination.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherID" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Alternative identifier(s) for the feature. Indicate the authority from which the OtherID is derived with a short (lower case) prefix delimited by a colon ':' If identifiers from multiple different authorities are available, delimit these identifiers with the pipe '|' character. For example, if a well were known to the Arizona Geological Survey (AZGS) by the id number 1337, the prefix would be azgs: and the identifier string would be azgs:1337. Any such prefixes used to scope identifiers should be explained in the dataset metadata.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FacilityOwner" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Companies, individuals, or other entities who own the property. Separate multiple with a pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notes" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Any additional information to be provided, including description and other data not captured by the template, details about collection method, contact information for related parties (original collector, project PI), collection platform or Launch, etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FacilityStatus" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Status of the feature at the time indicated in the StatusDate element. If unknown enter "unknown" in the field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StatusDate" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The status of the feature can change from time to time, thus it is useful to know the date on which a given status was reported. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1', (or '1/1/', or '1-1-', or 'January 1,'). All dates will be converted to yyyy-mm-ddThh:mm.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SystemType" type="xs:string">
						<xs:annotation>
							<xs:documentation>Physical type of the system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HeatExchangeSystem" type="xs:string">
						<xs:annotation>
							<xs:documentation>Name of compound used to facilitate heat exchange. (Glycol, CO2, Water, Ethylene).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HVAC_specs" type="xs:string">
						<xs:annotation>
							<xs:documentation>Additional specifications of the HVAC system with respect to the physical installation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateInstalled" type="xs:string">
						<xs:annotation>
							<xs:documentation>Date facility installation was completed. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1', (or '1/1/', or '1-1-', or 'January 1,'). All dates will be converted to yyyy-mm-ddThh:mm.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HeatApplication" type="xs:string">
						<xs:annotation>
							<xs:documentation>Statement for how heat is being used. Should come from controlled vocabulary.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="County" type="xs:string">
						<xs:annotation>
							<xs:documentation>Required. County name. If unknown or not applicable use 'missing'. If offshore, specify 'offshore' in this field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="State" type="xs:string">
						<xs:annotation>
							<xs:documentation>Required. State name without abbreviations. If unknown or not applicable use 'missing'. For offshore locations, specify the governing or nearest state and list the county as 'offshore'.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PLSS_Meridians" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>List north-south baseline and east-west meridian that Townships and Ranges are referenced to.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Township" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Township in PLSS grid, relative to reported baseline. Formatting and punctuation should be consistent for all locations referenced to the same baseline and meridian. Recommend adding leading '0's so that all number strings are the same length (typically 2 or occasionally 3 digits). Examples 01N, 112S, 001 N.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Range" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Range in PLSS grid, relative to reported meridian. Formatting and punctuation should be consistent for all locations referenced to the same baseline meridian. See instructions on TWP field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Section_" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PLSS section number. Must be numeric or null. Some surveys include half sections indicated by a 'nn.5' designation, where n indicates a number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SectionPart" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Subdivision of a PLSS section.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherLocationInformation" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Names of geographic features associated with the site that will be useful as search criteria to locate the information for this site. If identifiers from multiple different authorities are available, delimit these identifiers with the pipe character '|'.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTM_E" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>UTM easting coordinate as decimal number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTM_N" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>UTM northing coordinate as decimal number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTMDatumZone" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The datum and UTM zone for the reported coordinates. Datum for most locations should be NAD27 or NAD83.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LatDegree" type="xs:double">
						<xs:annotation>
							<xs:documentation>Latitude coordinate for facility site center point; values should be provided with at least 4 significant digits for sufficient precision (7 decimal places is recommended by the USGS (OFR 02-463, p. 6). Use decimal degrees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LongDegree" type="xs:double">
						<xs:annotation>
							<xs:documentation>Longitude coordinate for facility site center point; values should be provided with at least 4 significant digits for sufficient precision (7 decimal places is recommended by the USGS (OFR 02-463, p. 6). Use decimal degrees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SRS" type="xs:string">
						<xs:annotation>
							<xs:documentation>The spatial reference system. It is recommended that an EPSG code be used to identify the SRS used to specify the location. If an EPSG code is used, identify it as such with the prefix 'EPSG:' For common EPSG codes, see the Data Valid Terms tab. EPSG:4326 is the identifier for WGS84, and should be the text in this field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocationUncertaintyStatement" type="xs:string">
						<xs:annotation>
							<xs:documentation>Information on how the original location was determined, e.g., 1:250,000 map, gps unit, Google Earth, PLSS Conversion, Spatial Datum Conversion, e.g., NAD27 to WGS84.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Driller" type="xs:string">
						<xs:annotation>
							<xs:documentation>Name of contractor that drilled the borehole(s) for the Heat Pump facility.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumberOfWells" type="xs:double">
						<xs:annotation>
							<xs:documentation>Enter the number of wells for the completed system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpacingAvg_ft" type="xs:double">
						<xs:annotation>
							<xs:documentation>The average distance between boreholes in feet.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpudDate" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date for the record: date on which observation, measurement or test was made or specimen was collected. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1', (or '1/1/', or '1-1-', or 'January 1,'). All dates will be converted to yyyy-mm-ddThh:mm.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndedDrillingDate" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date on which drilling of the well bore ended. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1'. If year is unknown, enter 1900. All dates will be converted to yyyy-mm-ddThh:mm. This is intended as a searching aid.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Permit" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Permit(s) assigned to the facility; if identifiers from multiple different authorities are available, delimit these identifiers with the pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElevationGL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Elevation, in meters, at ground level for the feature. 3 decimal places is recommended by the USGS (OFR 02-463, p.6). Elevations should be reported relative to mean sea level (MSL). If elevation varies, use the average elevation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DrillerTotalDepth_ft" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Length of borehole from borehole origin to bottom of borehole. If there are multiple wells, use the depth of the deepest well.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HoleDiameter_in" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Bit diameter at the origin of the borehole, reported in inches in decimal format.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CasingType" type="xs:string">
						<xs:annotation>
							<xs:documentation>Type of casing used in the borehole, for example "steel" or "plastic".</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CasingDiameter_in" type="xs:double">
						<xs:annotation>
							<xs:documentation>Internal (ID) or external diameter (ED) should be noted. Units must be same as those used to report bit diameter (Diameter units column). Note that if there are different casing types over different intervals in the well bore, these should be noted in tuples delimited by the pipe character '|' as follows: {top-bottom1, diameter1, xD1 | top-bottom2, diameter2, xD2}.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CasingDepth_ft" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Bottom of cased interval of the borehole as reported by the driller..</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DepthToWater_ft" type="xs:double">
						<xs:annotation>
							<xs:documentation>Depth to groundwater in feet.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Depth_ft" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Depth of the trench that is part of the system identified by the FacilityURI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumberOfTrenches" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The number of trenches that are part of the system identified by the FacilityURI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FluidType" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Please use Commodity of Interest vocabulary; use multiple records if multiple fluids produced or injected during reported interval.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PipeDiameter_in" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Diameter of the pipe, in decimal inches, used to convey the fluid within the system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PipeMaterial" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Material of the pipe used to convey the fluids.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PipeTotalLength_ft" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Total length of the pipe in the system in decimal feet.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LithologyDescription" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Description of the lithology of surface geology or geologic column for well interval, e.g. granite, sandstone, limestone, arkose, schist. Recommend using CGI simple lithology vocabulary (see tab in this workbook). Use to account for EarthChem Material, EarthChem Type, EarthChem Composition.d alluvium, 36-40': gravels; etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GeologicFormation" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name of geologic unit that was encountered during drilling or trenching. Include hierarchy of names if the unit is part of a higher-rank geologic unit, e.g. Group name/Formation name, or Formation/Member, or Group/ Formation. Spell out unit names in full.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FacilityContact" type="xs:string">
						<xs:annotation>
							<xs:documentation>Person, organization, or position name for information about the facility.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PostalAddress" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Postal address for facility. Street, City, State.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Zip" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Zip code for facility; may be used for some geolocation information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Phone" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Telephone number to contact party connected with facility.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EMailAddress" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>E-mail address to contact party connected with facility.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Source" type="xs:string">
						<xs:annotation>
							<xs:documentation>Mandatory. Short text explanation of source of information defining this feature or record; may be author-date type citation, well log, report, data files etc., but should include some indication of how digital data originated. If unpublished data, provide researcher name, date and research institution for proper citation. Separate multiple citations with pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MetadataURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>URI identifying (and ideally dereferencing to get) a full formal metadata record for the observation report. A time series of observations may all reference the same metadata record that provides contact information and details on procedure, etc.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="UpdateTimeStamp" type="xs:string">
						<xs:annotation>
							<xs:documentation>Date of last time line of data was updated or corrected by the service provider.(Format: 2012-06-22T00:00).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
						</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
